
#mainnav {
	text-align: center;
}

.navlogo {
	width: 160px;
	height: 45px;
}

.btn {
	border-radius: 300px;
	background-color: #5F0090;
	border-color: #5F0090;
	color: white;
}

.btn:hover {
	background-color: #4f6df5;
	border-color: #4f6df5;
}

.form-control {
	border-radius: 300px;
	border-color: #5F0090;
}

.navbar {
	width: 100%;
	height: 120%;
}

.buffer{
	height: 20px;
}

.container-fluid {
	background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-purple-beautiful-romantic-cool-fresh-banner-background-image_156587.jpg);
	color: white;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}

.bnrtxt {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
	text-align: center;  
	padding-top: 20px;
	padding-bottom: 50px;
}


img {
  width: 100%;
  height: auto;
}

.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        margin-top: 0;
    }
    .dropdown-toggle{
        margin-bottom: 2px;
    }
    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
        margin-bottom: 0;
 }

.dropdown {
	text-align: center;
}

#fshead {
	text-align: center;
}

#fsheadspace {
	border-width: 3px;
	width: 130px;
	border-color: #5F0090;
}

#mainbody {
	font-size: 0.5em;
}
 .mainbody {
 	font-size: 2.5em;
 }

.card {
	text-align: center;
	border-color: #5F0090;
	transition: 0.5s;
	cursor: default;
	box-shadow: 4px 4px 5px #888888;
}

.card:hover {
	transform: scale(1.03);
}

.card-title {
	font-size: 1.5vw;
	width: 100%;
}


.services {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: 1fr;
	grid-gap: 40px;
	padding-left: 9%;
	padding-right: 6%;
}

.services-text {
	text-align: left;
}

#client_logos { 
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
	grid-template-rows: 1fr;
	grid-gap: 10px;

}

.service-img {
	width: 100%;
}

.service-hover{
	transition: 0.5s;
}

.service-hover:hover {
	transform: scale(1.03);
}

#text {
	font-size: 1em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 570px));
	grid-gap: 40px;
}

.drophover{
	transition: 0.2s;
}

.drophover:hover {
	background-color: #5F0090;
	color: white;
	opacity: 0.7;
}

.mainbody2 {
	background-color: #FFFCD1;
	background-repeat: 0.5;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 600px));
	grid-template-rows: 1fr;
	align
}

.buffer2 { 
	height: 100px;
	text-align: left;
}

.main2text {
	padding: 20px;
}

.main2para {
	padding-right: 20px;
	font-size: 1.4em;
}


.bacdif {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-gap: 5px;

}

.jumbotron {
	background-image: linear-gradient(purple, blue);
	color: white;
}
 .bach1 {
 	font-size: 3em;
 }  

 .bacP {
 	font-size: 1.5em;
 }
 .mapbac {
 	display: grid;
 	grid-template-columns: repeat(auto-fill, minmax(400px, 600px));
 	grid-gap: 10px;
 }

.inputmsg {
	height: 100px;
}

.footer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: 1fr;
	background-color: #2F2E2E;
	padding-top: 25px;
	padding-left: 80px;
}

.cardbg {
	background-color: #2F2E2E;
	color: white;
	border-color: white;
}

.afoot {
	color: white;
}

.footfooter {
	background-color: #2F2E2E;
	grid-template-columns: 1fr;
	color: white;
}

.serviceahref {
	background-color: blue;
	border-radius: 20px;
	color: white;
	width: 500px;
}

.serbtn {
	background-color: white;
	color: #5F0090;
}

.serbtn:hover {
	background-color: #5F0090;
	color: white;
	border-color: #5F0090;
}

.footpara {
	border-radius: 20px;
	background-color: #5F0090;
	width: 400px;
}
